@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Asap', sans-serif;
}

#logo-title {
  font-family: 'Righteous', cursive;
}

.leaflet-pane,
.leaflet-control,
.leaflet-top,
.leaflet-bottom {
  z-index: 10 !important;
}

.custom-loader {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #f7942c);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 8px), #000 0);
  animation: s3 1s infinite linear;
}
@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}

@keyframes s3 {
  to {
    transform: rotate(1turn);
  }
}

@layer components {
  .btn {
    @apply rounded-md bg-primary p-2 font-semibold text-white;
  }

  .btn-outline {
    @apply rounded-md border-2 border-primary p-2 font-semibold text-primary;
  }

  .form-input {
    @apply mt-1 rounded-md border-gray-400 px-3 py-2 shadow-sm focus:border-primary focus:text-gray-900 focus:ring-2 focus:ring-orange-300 focus:ring-opacity-50;
  }

  .form-width {
    @apply w-full sm:w-1/2;
  }
}
